 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases" verbose="1" >
    <test name="Verify user is logged in">
        <parameter name="testRunId1" value="TCTC-1"/>
        <classes>
            <class name="Test.LoginTest"/>
        </classes>
    </test>
    <test name="Verify user is added">
        <parameter name="testRunId" value="TCTC-2"/>
        <classes>
            <class name="Test.BaseClass"/>
        </classes>
    </test>
</suite>


